<header class="nav">
  <div class="nav__inner">
    <a class="nav__logo" href="/{{LANG}}/">
      <span class="wm"><span class="wm__l">L</span><span class="wm__rest">IDI</span></span>
      <span class="dot" aria-hidden="true"></span>
      <span class="studio">STUDIO</span>
    </a>
    <button class="nav__burger" id="burger" aria-label="Menu"><span></span><span></span><span></span></button>
    <nav class="nav__links" id="navlinks">
      <a class="glink" href="/{{LANG}}/portfolio/">{{NAV_PORTFOLIO}}</a>
      <a class="glink" href="/{{LANG}}/investment/">{{NAV_INVESTMENT}}</a>
      <a class="glink" href="/{{LANG}}/stories/">{{NAV_STORIES}}</a>
      <a class="glink" href="/{{LANG}}/about/">{{NAV_ABOUT}}</a>
      <a class="glink glink--always" style="color:var(--gold)" href="/{{LANG}}/inquire/">{{NAV_INQUIRE}}</a>
      {{LANG_TOGGLE_BLOCK}}
    </nav>
  </div>
</header>
